{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" /> -->
  <link rel="stylesheet" type="text/css" href="{% static 'stories/main.css' %}">
  {% if title %}
  <title>Fanfic Site - {{ title }}</title>
  {% else %}
  <title>Fanfic Site</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'stories-home' %}">Fanfic Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'stories-home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'stories-about' %}">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'mails:mailbox' %}">Mailbox</a>
            {% if request.user.is_staff %}
            <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin Dashboard</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'story-create' %}">New story</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">My account</a>
            <form action="{% url 'logout' %}" method="POST" class="form-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-item nav-link py-0">Logout</button>
            </form>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
      </div>

      <div class="col-md-4">
        {% block sidebar %}
        <!-- Default sidebar content (optional) -->
        <div class="content-section">
          <h4>Actions</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <a class="nav-item nav-link" href="{% url 'story-create' %}">Write a new
                story</a></li>
            <li class="list-group-item"> <a class="nav-link" href="{% url 'mails:mailbox' %}">Go to my mailbox</a></li>

{% if request.user.is_staff %}
 <li class="list-group-item">            <a class="nav-item nav-link" href="{% url 'admin:index' %}">View admin dashboard</a>
</li>
{% endif %}
          </ul>
        </div>
        {% endblock %}
      </div>

   
    </div>
  </main>

  <!-- Bootstrap JS (with Popper)-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>