{% extends "stories/base.html" %}
{% block content %}

<a href="{% url 'story-detail' object.story.id %}">
      ← Back to story
    </a>
<h1> <a class="article-title" href="{% url 'story-detail' object.story.id %}">{{ object.story.title }}</a></h1>
<h2>Chapter {{ object.number }}: {{ object.title }}</h2>

<div>
  {{ object.content|linebreaks }}
</div>

<hr>

<nav>
  {% if object.number > 1 %}
    <a href="{% url 'chapter-detail' object.story.id object.number|add:'-1' %}">
      ← Previous
    </a>
  {% endif %}

  {% if object.number < object.story.chapters.count %}
    <a href="{% url 'chapter-detail' object.story.id object.number|add:'1' %}">
      Next →
    </a>
  {% endif %}
</nav>

{% endblock content %}


{% block sidebar %}
<div class="content-section">

        <h2>Chapters</h2>
        <ul>
            {% for chapter in object.story.chapters.all %}
            <li>
                <a href="{% url 'chapter-detail' object.story.id chapter.number %}">
                    Chapter {{ chapter.number }}: {{ chapter.title }}
                </a>
            </li>
            {% empty %}
            <li>No chapters yet.</li>
            {% endfor %}
        </ul>
</div>
{% endblock %}