{% extends "stories/base.html" %}
{% block content %}

<div class="content-section">
<a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'story-detail' object.story.id %}">
      ← Back to story
    </a>
<h1> <a class="article-title" href="{% url 'story-detail' object.story.id %}">{{ object.story.title }}</a></h1>
<h2>Chapter {{ object.number }}: {{ object.title }}</h2>

 <!-- Edit button - only show if user is the author -->
<div>{% if object.story.author == user %}
<a class="btn btn-secondary btn-sm" href="{% url 'chapter-update' object.story.id object.pk %}">Edit Chapter</a>
{% endif %}
</div>

<div>
  {{ object.content|linebreaks }}
</div>

<hr>

<nav>
  {% if object.number > 1 %}
    <a href="{% url 'chapter-detail' object.story.id object.number|add:'-1' %}">
      ← Previous
    </a>
  {% endif %}

  {% if object.number < object.story.chapters.count %}
    <a href="{% url 'chapter-detail' object.story.id object.number|add:'1' %}">
      Next →
    </a>
  {% endif %}
</nav>

</div>

{% endblock content %}


{% block sidebar %}
<div class="content-section">

        <h2>Chapters</h2>
        <ul class="list-group list-group-flush">
            {% for chapter in object.story.chapters.all %}
            <li class="list-group-item">
                <a class="nav-item nav-link" href="{% url 'chapter-detail' object.story.id chapter.number %}">
                    Chapter {{ chapter.number }}: {{ chapter.title }}
                </a>
            </li>
            {% empty %}
            <li>No chapters yet.</li>
            {% endfor %}
        </ul>
</div>
{% endblock %}