body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

h1 {
  font-size: 28px;
  padding-bottom: 12px;
}

h2 {
  font-size: 24px;
}

h5 {
  padding-bottom:8px;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  object-fit: cover;
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit: cover;
}

.account-heading {
  font-size: 2.5rem;
}

.story-cover {
  width:140px;
  height: 210px;
  object-fit: cover;
}

#div_id_cover_image span .form-check {
  display:none;
}

.story-detail-cover-image {
  max-width:200px;
}

#chapter-list {
  list-style: none; 
  padding: 0;
}

.chapter-item {
  padding: 10px;
  margin: 5px 0;
  background: #f8f9fa;
  border-radius: 5px;
}

.drag-handle {
  cursor: move; 
  margin-right: 10px;
}

.profile-story-cover-image {
  width: 80px;
}

.profile-story-cover-image img {
  height: 80px;
}


 
