{% extends "stories/base.html" %}
{% block content %}
<h1>Mailbox</h1>
{% if mails %}
<ul class="list-group">
  {% for mail in mails %}
    <li class="list-group-item">
      <p>From: {{ mail.sender.username }}</p>
      <p>Subject: {{ mail.subject }}</p>
      <p>Sent: {{ mail.timestamp|date:"SHORT_DATETIME_FORMAT" }}</p>
      <p>Message: {{ mail.body }}</p>
      <a href="{% url 'mails:archive' mail.id %}" class="btn btn-sm btn-secondary float-right">Archive</a>
    </li>
  {% endfor %}
</ul>
{% else %}
<p>No mails yet.</p>
{% endif %}
{% endblock %}


{% block sidebar %}
<div class="content-section">
<h2>Actions:</h2>
<a href="{% url 'mails:archived' %}" class="btn btn-secondary mb-3">View archive</a>
</div>
{% endblock %}
