{% extends "stories/base.html" %}
{% load crispy_forms_tags %} <!-- Updated here to load crispy forms -->
{% block content %}
<h1>My account</h1>
<div class="content-section">

    <h4>Profile info</h4>
    <form method="POST" enctype="multipart/form-data">
        <!-- Added an encoding type to save the image in the background -->
        {% csrf_token %}
        <fieldset class="form-group">

            <div class="media">
                <img class="rounded-circle account-img" alt="Author profile image" src="{{ user.profile.get_image_url }}">
            </div>
            {{ u_form|crispy }} <!-- Updated to load the user form and let crispy take care of the formating -->
            {{ p_form|crispy }} <!-- Updated to load the profile form and let crispy take care of the formating -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
            <!-- Updated button to display Profile Info -->
        </div>
    </form>
</div>
<div class="content-section">
    <h4>Your Stories</h4>
    {% if stories %}

    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for story in stories %}
            <tr>
                <td class="profile-story-cover-image">
                    {% if story.cover_image %}
                    <img src="{{ story.cover_image.url }}" alt="{{ story.title }} cover">
                    {% else %}
                    <span class="text-muted">—</span>
                    {% endif %}
                </td>

                <td>
                    <a href="{{ story.get_absolute_url }}">
                        {{ story.title }}
                    </a>
                </td>

                <td>
                    <a class="btn btn-secondary btn-sm" href="{{ story.get_absolute_url }}">
                        View
                    </a>

                    <a class="btn btn-secondary btn-sm" href="{% url 'story-update' story.id %}">
                        Edit
                    </a>

                    <a class="btn btn-danger btn-sm" href="{% url 'story-delete' story.id %}">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    {% else %}
    <p>You haven’t written any stories yet.</p>
    {% endif %}

</div>


{% endblock content %}